/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#n {
    -fx-background-image:url('normal.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 50 50;
    -fx-faint-focus-color: red;
}
#dl {
    -fx-background-image:url('dl.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 50 50;
    -fx-faint-focus-color: red;
}
#dw {
    -fx-background-image:url('dw.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 50 50;
    -fx-faint-focus-color: red;
}
#tl {
    -fx-background-image:url('tl.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 50 50;
    -fx-faint-focus-color: red;
}
#tw {
    -fx-background-image:url('tw.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 50 50;
    -fx-faint-focus-color: red;
}
#middle {
    -fx-background-image:url('middle.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 50 50;
    -fx-faint-focus-color: red;
}